In [1]:
# 数据分析库Pandas
import pandas as pd

In [2]:
# 数据系列类型Series
s = pd.Series(["北京", "上海", "广州", "深圳"])
s

0    北京
1    上海
2    广州
3    深圳
dtype: object

In [3]:
s[0],s[3]

('北京', '深圳')

In [4]:
cityname = pd.Series(["北京", "上海", "广州", "深圳"], index=["bj", "sh", "gz", "sz"])
cityname.index

Index(['bj', 'sh', 'gz', 'sz'], dtype='object')

In [5]:
cityname["bj"], cityname.loc["sh"], cityname.gz, cityname.iloc[-1]

('北京', '上海', '广州', '深圳')

In [6]:
citypop = {"bj": 1877.7, "sh": 2115, "gz": 1246.83, "sz": 1137.89}
df = pd.DataFrame({"名称": cityname, "人口": citypop})
df

    名称       人口
bj  北京  1877.70
gz  广州  1246.83
sh  上海  2115.00
sz  深圳  1137.89

In [7]:
df.人口

bj    1877.70
gz    1246.83
sh    2115.00
sz    1137.89
Name: 人口, dtype: float64

In [8]:
df = pd.read_csv("data_emperor.csv")
print("数据网格形状：", df.shape)
print("各列数据类型：")
print(df.dtypes)

数据网格形状： (302, 5)
各列数据类型：
num         int64
name       object
age         int64
year       object
dynasty    object
dtype: object

In [9]:
df.head()

   num    name  age         year dynasty
0    1   秦始皇嬴政   50  前259年—前210年       秦
1    2  秦二世嬴胡亥   24  前230年—前207年       秦
2    3   汉高帝刘邦   62  前256年—前195年      西汉
3    4   汉惠帝刘盈   23  前210年—前188年      西汉
4    5   汉文帝刘恒   46  前202年—前157年      西汉

In [10]:
df.columns = ["序号", "名号", "寿命", "生卒", "朝代"]
df[df.寿命 >= 80]

      序号              名号  寿命           生卒   朝代
100  100           梁武帝萧衍  86    464年—549年  南朝梁
149  149           武则天武瞾  82    624年—705年   武周
208  207           宋高宗赵构  81  1107年—1187年   南宋
253  252     元世祖孛儿只斤·忽必烈  80  1215年—1294年    元
295  296  清高宗（乾隆）爱新觉罗·弘历  89  1711年—1799年    清

In [11]:
mingqing = df[df.朝代.isin(["明", "清"])]
mingqing.tail(10)

      序号              名号  寿命           生卒 朝代
292  293  清世祖（顺治）爱新觉罗·福临  24  1638年—1661年  清
293  294  清圣祖（康熙）爱新觉罗·玄烨  69  1654年—1722年  清
294  295  清世宗（雍正）爱新觉罗·胤禛  58  1678年—1735年  清
295  296  清高宗（乾隆）爱新觉罗·弘历  89  1711年—1799年  清
296  297  清仁宗（嘉庆）爱新觉罗·颙琰  61  1760年—1820年  清
297  298  清宣宗（道光）爱新觉罗·旻宁  69  1782年—1850年  清
298  299  清文宗（咸丰）爱新觉罗·奕詝  31  1831年—1861年  清
299  300  清穆宗（同治）爱新觉罗·载淳  19  1856年—1875年  清
300  301  清德宗（光绪）爱新觉罗·载湉  38  1871年—1908年  清
301  302  清逊帝（宣统）爱新觉罗·溥仪  62  1906年—1967年  清

In [12]:
compare = mingqing.groupby("朝代").寿命.agg(["count", "min", "max", "mean", "median"])
compare

    count  min  max       mean  median
朝代
明      16   23   71  42.187500    38.0
清      12   19   89  53.333333    59.5